@import 'utils';

.header {
    background: rgba(7, 7, 7, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    /*
        position을 fixed로 지정하면
        화면에 따라 같이 이동하게 된다.
        좌우 크기를 지정 해주지 않으면 내부 요소의
        크기에 따르기 때문에
        좌우 크기를 지정 해준다.
    */
    /*
        왜 굳이 header와 header-content로 나눈거지
        그냥 header에 해도 되잖아
        아 안에 있는 내용들과 경계와 간격을 두고
        양쪽에 필요한 것들을 두기 위해서 하나를 추가 했구나
    */
    .header-content {
        height: 3rem;
        width: 1400px;
        margin: 0 auto; // 가운데 정렬
        padding-left: 3rem;
        padding-right: 3rem;

        //내부 아이템 세로 가운데 정렬
        display: flex;
        align-items: center;
        // justify-content: center;
        // margin-right: auto;
        // margin-left: auto;
        .brand {
            // 로고
            margin: 0 auto;
            color: $oc-gray-2;
            font-size: 1.5rem;
            font-weight: 500;
            &:hover {
                color: rgba(255,255,255,0.75);
            }
        }

        .center {
            margin: 0 auto;
        }

        .right {
            // 오른쪽
            // margin-left: auto;            
            margin: 0 auto;

        }

        //반응형 레이아웃
        @include media("<wide") {
            width: 100%;
        }
        @include media("<medium") {
            padding-right: 1rem;
            padding-left: 1rem;
        }
        @include media("<small"){
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }


    }
}
